@font-face {
    font-family: mellatweb;
    src: url(fonts/mellatweb.eot);
    src: url(fonts/mellatweb.eot?#iefix) format('embedded-opentype'), url(fonts/mellatweb.woff) format('woff'), url(fonts/mellatweb.ttf) format('truetype'), url(fonts/mellatweb.svg#mellatweb) format('svg');
    font-weight: 400;
    font-style: normal
}

font {
    font-family: mellatweb
}

a, h1, p, b, h2, body, h3, h4, h6 {
    font-family: mellatweb !important
}

body {
    background: url("../img/bg-pattern.png"), #7b4397;
    background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
    background: url("../img/bg-pattern.png"), linear-gradient(to left, #4286f4, #373B44);
    color: white;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Pen Title */
.pen-title {
    padding: 50px 0;
    text-align: center;
    letter-spacing: 2px;
}

.pen-title h1 {
    margin: 0 0 20px;
    font-size: 48px;
    font-weight: 300;
}

.pen-title span {
    font-size: 12px;
}

.pen-title span .fa {
    color: #33b5e5;
}

.pen-title span a {
    color: #33b5e5;
    font-weight: 600;
    text-decoration: none;
}

/* Form Module */
.form-module {
    position: relative;
    background: #051937;
    max-width: 320px;
    width: 100%;
    border-top: 5px solid #33b5e5;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    direction: rtl;
}

.form-module .toggle {
    cursor: pointer;
    position: absolute;
    top: -0;
    right: -0;
    background: #33b5e5;
    width: 30px;
    height: 30px;
    margin: -5px 0 0;
    color: #ffffff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}

.form-module .toggle .tooltip {
    position: absolute;
    top: 5px;
    right: -65px;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    width: auto;
    padding: 5px;
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
}

.form-module .toggle .tooltip:before {
    content: '';
    position: absolute;
    top: 5px;
    left: -5px;
    display: block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(0, 0, 0, 0.6);
}

.form-module .form {
    padding: 40px;
}

.form-module .form:nth-child(2) {
    display: block;
}

.form-module h2 {
    margin: 0 0 20px;
    color: #33b5e5;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
}

.form-module input {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-wieght: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-family: mellatweb;
}

.form-module input:focus {
    border: 1px solid #33b5e5;
    color: #333333;
}

.form-module button {
    cursor: pointer;
    background: #33b5e5;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-family: mellatweb;
}

.form-module button:hover {
    background: #178ab4;
}

.form-module .cta {
    background: #f2f2f2;
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    color: #666666;
    font-size: 12px;
    text-align: center;
}

.form-module .cta a {
    color: #333333;
    text-decoration: none;
}

.ulink {
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    background: #33b5e5;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    color: #ffffff;
    font-family: mellatweb;
}
.ulink:hover {
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    background: white;
    width: 100%;
    border: 0;
    padding: 10px 10px;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-family: mellatweb;
}