{% extends "layout.html" %}
{% load static %}
{% block title %}
    <title>صفحه اصلی</title>
{% endblock %}
{% block styles %}

{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="header-btn col-12">
                <a class="btn btn-danger" href="/index" style="float: right">صفحه اصلی</a>
                <a class="btn btn-danger" href="/logout" style="float: left">خروج</a>
            </div>
        </div>
        <div class="row">
            <div class="rounded col-lg-8 col-md-8 col-sm-12 mx-auto mt-5 p-3"
                 style="background-color: #051937;text-align: center">
                <p>شما با انتخاب یکی از گزینه های زیر میتوانید اقدام به رای دادن نمایید و یا اسکوربورد را مشاهده
                    نمایید.</p>
                <a class="btn btn-primary mt-3" href="/list">رای دادن</a>
                <a class="btn btn-warning mt-3" href="/scoreboard">مشاهده اسکوربورد</a>
            </div>
        </div>
    </div>
{% endblock %}