{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ورود به سیستم</title>


    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="{% static 'css/bs4/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body>
{% if form.errors or form.non_field_errors %}
    <div class="container rtl">
        <div class="card center pink padding-large animate-top unselect top"
             style="z-index: 10;position: fixed;right: 0;left: 0;"><i
                class="fa fa-times text-white left display-left margin-left pointer"
                onclick="parentElement.style.top='-300px'"></i>
            <ul style="list-style-type: none;">
                {% for error in form.non_field_errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p> {{ error }}{{ field.name }} </p>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}
{% if messages %}

    <ul class="messages" style="list-style-type: none;direction: rtl">
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="card center green padding-large animate-top unselect top"
                     style="z-index: 10;position: fixed;right: 0;left: 0;"><i
                        class="fa fa-times text-white left display-left margin-left pointer"
                        onclick="parentElement.style.top='-300px'"></i>
                    {{ message }}
                </div>
            {% elif message.tags == 'error' %}
                <div class="card center pink padding-large animate-top unselect top"
                     style="z-index: 10;position: fixed;right: 0;left: 0;">
                    <i class="fa fa-times text-white left display-left margin-left pointer"
                       onclick="parentElement.style.top='-300px'"></i>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
<div class="pen-title">
    <h1>ورود به سیستم</h1>
</div>
<div class="module form-module">
    <div class="form">
        <div style="text-align: center">
            <img src="{% static 'img/khayyam logo.jpg' %}" class="img-fluid img-thumbnail mb-3">
            <h2>ورود به حساب خود</h2>
        </div>

        <form action="login" method="post">
            {% csrf_token %}
            <input type="text" placeholder="نام کاربری" name="username">
            <input type="password" placeholder="رمز عبور" name="password">
            <button type="submit" class="btn btn-primary">ورود</button>
        </form>
        <div style="text-align: center">
            <a href="/" class="btn btn-outline-primary mt-3">صفحه اصلی</a>
        </div>
    </div>
</div>


</body>
</html>
