{% extends "layout.html" %}
{% block title %}
    <title>صفحه اصلی</title>
{% endblock %}
{% block styles %}

{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="header-btn col-12">
                {% if user.is_authenticated %}
                    <a class="btn btn-danger" href="/index" style="float: right">صفحه اصلی</a>
                    <a class="btn btn-danger" href="/logout" style="float: left">خروج</a>
                {% else %}
                    <a class="btn btn-danger" href="/" style="float: right">صفحه اصلی</a>
                    <a class="btn btn-danger" href="/login" style="float: left">ورود داوران</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="rounded col-lg-8 col-md-8 col-sm-12 mx-auto mt-5 p-3"
                 style="background-color: #051937;text-align: center">
                <table class="table table-bordered " style="direction: rtl">
                    <thead>
                    <tr>
                        <th scope="col">نام شرکت کننده</th>
                        <th scope="col">امتیاز داوراول</th>
                        <th scope="col">امتیاز داوردوم</th>
                        <th scope="col">امتیاز داورسوم</th>
                        <th scope="col">امتیاز داورچهارم</th>
                        <th scope="col">امتیاز داورپنجم</th>
                        <th scope="col">امتیاز داورناظر</th>
                        <th scope="col">امتیاز نهایی</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for part in participant %}
                        <tr>
                            <td>{{ part.0 }}</td>
                            {% if part.1 == 0 %}
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>ثبت نشده</td>
                            {% else %}
                                {% for mykey,myvalue in judges.items %}
                                    {% if mykey == part.0 %}
                                        {% for value in myvalue %}
                                            {% if value.1 == 0 %}
                                                <td>-</td>
                                            {% else %}
                                                <td>{{ value.1 }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                <td>{{ part.1 }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}