{% extends "layout.html" %}
{% block title %}
    <title>صفحه اصلی</title>
{% endblock %}
{% block styles %}

{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="header-btn col-12">
                <a class="btn btn-danger" href="/index" style="float: right">صفحه اصلی</a>
                <a class="btn btn-danger" href="/logout" style="float: left">خروج</a>
            </div>
        </div>
        <div class="row">
            <div class="rounded col-lg-8 col-md-8 col-sm-12 mx-auto mt-5 p-3"
                 style="background-color: #051937;text-align: center">
            <h4 class="mb-3" style="text-align: right">نام شرکت کننده: {{ name }}</h4>
                {% if flag1 and flag2 %}
                    <p>لطفا در هر بخش عدد مورد نظر را برای رای دادن وارد کنید.</p>
                    <form action="/vote" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ id }}">
                        <table class="table table-bordered " style="direction: rtl">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">معیار</th>
                                <th scope="col">ضریب</th>
                                <th scope="col">امتیاز</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>وضوح و شفافیت موضوع</td>
                                <td>۳</td>
                                <td>
                                    <div class="form-group">
                                        {{ s1 }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>توانایی انتقال مطالب به مخاطبین و ارتباط با آنها</td>
                                <td>۳</td>

                                <td>
                                    {{ s2 }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>شیوه بیان جذاب</td>
                                <td>۳</td>

                                <td>
                                    {{ s3 }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>ظاهر، عملکرد حرفه ای یا مناسب و استفاده از زبان بدن</td>
                                <td>۳</td>

                                <td>
                                    {{ s4 }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>سازماندهی مناسب اسلایدها</td>
                                <td>۲</td>

                                <td>
                                    {{ s5 }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>تسلط به موضوع ارائه، داشتن آرامش و اعتماد به نفس در ارائه</td>
                                <td>۲</td>

                                <td>
                                    {{ s6 }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>استفاده از تصاویر به طور موثر و کیفیت اسلایدها و استفاده از محتوای بصری</td>
                                <td>۱</td>

                                <td>
                                    {{ s7 }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>مدیریت زمان</td>
                                <td>۲</td>

                                <td>
                                    {{ s8 }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>کاربردی و به روز بودن مطالب</td>
                                <td>۱</td>

                                <td>
                                    {{ num }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="/vote?id={{ id }}" class="btn btn-danger">بازگشت</a>

                    </form>
                {% elif not flag1 and flag2 %}
                    <p>شما قبلا به این شرکت کننده رای داده اید شما میتوانید اقدام به ویرایش و یا ثبت نهایی رای نمایید.
                    <p style="
color: red">(در صورت ثبت نهایی امکان تغییر رای وجود ندارد)</p>
                    <a href="/view_vote?id={{ id }}" class="btn btn-primary">مشاهده رای</a>
                    <a href="/edit_vote?id={{ id }}" class="btn btn-info">ویرایش</a>
                    <a href="/final_vote?id={{ id }}" class="btn btn-success">ثبت نهایی</a>
                    <a href="/list" class="btn btn-danger">بازگشت</a>

                {% else %}
                    <p>رای شما نهایی شده است و امکان تغییر آن وجود ندارد.</p>
                    <a href="/view_vote?id={{ id }}" class="btn btn-primary">مشاهده رای</a>
                    <a href="/list" class="btn btn-danger">بازگشت</a>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}