{% extends "layout.html" %}
{% block title %}
    <title>صفحه اصلی</title>
{% endblock %}
{% block styles %}

{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="header-btn col-12">
                <a class="btn btn-danger" href="/index" style="float: right">صفحه اصلی</a>
                <a class="btn btn-danger" href="/logout" style="float: left">خروج</a>
            </div>
        </div>
        <div class="row">
            <div class="rounded col-lg-8 col-md-8 col-sm-12 mx-auto mt-5 p-3"
                 style="background-color: #051937;text-align: center">
                <h4 class="mb-3" style="text-align: right">نام شرکت کننده: {{ name }}</h4>

                {% if flag1 and flag2 %}
                    {% if flag3 %}
                        <p>لطفا در هر بخش عدد مورد نظر را برای رای دادن وارد کنید.</p>
                        <form action="/vote" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ id }}">
                            <table class="table table-bordered " style="direction: rtl">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">معیار</th>
                                    <th scope="col">ضریب</th>
                                    <th scope="col">امتیاز</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>وضوح و شفافیت موضوع</td>
                                    <td>۳</td>

                                    <td>
                                        <div class="form-group">
                                            <select class="form-control" name="s1">
                                                {% for r in rng %}
                                                    {% if r == s1 %}
                                                        <option value="{{ r }}" selected="selected">{{ r }}</option>

                                                    {% else %}
                                                        <option value="{{ r }}">{{ r }}</option>
                                                    {% endif %}

                                                {% endfor %}

                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>توانایی انتقال مطالب به مخاطبین و ارتباط با آنها</td>
                                    <td>۳</td>

                                    <td>
                                        <select class="form-control" name="s2">
                                            {% for r in rng %}
                                                {% if r == s2 %}
                                                    <option value="{{ r }}" selected="selected">{{ r }}</option>

                                                {% else %}
                                                    <option value="{{ r }}">{{ r }}</option>
                                                {% endif %}

                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>شیوه بیان جذاب</td>
                                    <td>۳</td>

                                    <td>
                                        <select class="form-control" name="s3">
                                            {% for r in rng %}
                                                {% if r == s3 %}
                                                    <option value="{{ r }}" selected="selected">{{ r }}</option>

                                                {% else %}
                                                    <option value="{{ r }}">{{ r }}</option>
                                                {% endif %}

                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>ظاهر، عملکرد حرفه ای یا مناسب و استفاده از زبان بدن</td>
                                    <td>۳</td>

                                    <td>
                                        <select class="form-control" name="s4">
                                            {% for r in rng %}
                                                {% if r == s4 %}
                                                    <option value="{{ r }}" selected="selected">{{ r }}</option>

                                                {% else %}
                                                    <option value="{{ r }}">{{ r }}</option>
                                                {% endif %}

                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>سازماندهی مناسب اسلایدها</td>
                                    <td>۲</td>

                                    <td>
                                        <select class="form-control" name="s5">
                                            {% for r in rng %}
                                                {% if r == s5 %}
                                                    <option value="{{ r }}" selected="selected">{{ r }}</option>

                                                {% else %}
                                                    <option value="{{ r }}">{{ r }}</option>
                                                {% endif %}

                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td>تسلط به موضوع ارائه، داشتن آرامش و اعتماد به نفس در ارائه</td>
                                    <td>۲</td>

                                    <td>
                                        <select class="form-control" name="s6">
                                            {% for r in rng %}
                                                {% if r == s6 %}
                                                    <option value="{{ r }}" selected="selected">{{ r }}</option>

                                                {% else %}
                                                    <option value="{{ r }}">{{ r }}</option>
                                                {% endif %}

                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">7</th>
                                    <td>استفاده از تصاویر به طور موثر و کیفیت اسلایدها و استفاده از محتوای بصری</td>
                                    <td>۱</td>

                                    <td>
                                        <select class="form-control" name="s7">
                                            {% for r in rng %}
                                                {% if r == s7 %}
                                                    <option value="{{ r }}" selected="selected">{{ r }}</option>

                                                {% else %}
                                                    <option value="{{ r }}">{{ r }}</option>
                                                {% endif %}

                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">8</th>
                                    <td>مدیریت زمان</td>
                                    <td>۲</td>

                                    <td>
                                        <select class="form-control" name="s8">
                                            {% for r in rng %}
                                                {% if r == s8 %}
                                                    <option value="{{ r }}" selected="selected">{{ r }}</option>

                                                {% else %}
                                                    <option value="{{ r }}">{{ r }}</option>
                                                {% endif %}

                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">9</th>
                                    <td>کاربردی و به روز بودن مطالب</td>
                                    <td>۱</td>

                                    <td>
                                        {{ num }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-success">ثبت امتیاز</button>
                            <a href="/list" class="btn btn-danger">بازگشت</a>

                        </form>
                    {% else %}
                        <p>لطفا در هر بخش عدد مورد نظر را برای رای دادن وارد کنید.</p>
                        <form action="/vote" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ id }}">
                            <table class="table table-bordered " style="direction: rtl">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">معیار</th>
                                    <th scope="col">ضریب</th>
                                    <th scope="col">امتیاز</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>وضوح و شفافیت موضوع&nbsp;<span style="color: red;">★</span></td>
                                    <td>۳</td>

                                    <td>
                                        <div class="form-group">
                                            <select class="form-control" name="s1" required>
                                                <option value="">اتنخاب کنید</option>
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>توانایی انتقال مطالب به مخاطبین و ارتباط با آنها&nbsp;<span style="color: red;">★</span>
                                    </td>
                                    <td>۳</td>

                                    <td>
                                        <select class="form-control" name="s2" required>
                                            <option value="">اتنخاب کنید</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>شیوه بیان جذاب</td>
                                    <td>۳</td>

                                    <td>
                                        <select class="form-control" name="s3" required>
                                            <option value="">اتنخاب کنید</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>ظاهر، عملکرد حرفه ای یا مناسب و استفاده از زبان بدن&nbsp;<span
                                            style="color: red;">★</span></td>
                                    <td>۳</td>

                                    <td>
                                        <select class="form-control" name="s4" required>
                                            <option value="">اتنخاب کنید</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>سازماندهی مناسب اسلایدها&nbsp;<span style="color: red;">★</span></td>
                                    <td>۲</td>

                                    <td>
                                        <select class="form-control" name="s5" required>
                                            <option value="">اتنخاب کنید</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td>تسلط به موضوع ارائه، داشتن آرامش و اعتماد به نفس در ارائه&nbsp;<span
                                            style="color: red;">★</span></td>
                                    <td>۲</td>

                                    <td>
                                        <select class="form-control" name="s6" required>
                                            <option value="">اتنخاب کنید</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">7</th>
                                    <td>استفاده از تصاویر به طور موثر و کیفیت اسلایدها و استفاده از محتوای
                                        بصری&nbsp;<span style="color: red;">★</span></td>
                                    <td>۱</td>

                                    <td>
                                        <select class="form-control" name="s7" required>
                                            <option value="">اتنخاب کنید</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">8</th>
                                    <td>مدیریت زمان&nbsp;<span style="color: red;">★</span></td>
                                    <td>۲</td>

                                    <td>
                                        <select class="form-control" name="s8" required>
                                            <option value="">اتنخاب کنید</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">9</th>
                                    <td>کاربردی و به روز بودن مطالب</td>
                                    <td>۱</td>

                                    <td>
                                        {{ num }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-success">ثبت امتیاز</button>
                            <a href="/list" class="btn btn-danger">بازگشت</a>

                        </form>
                    {% endif %}
                {% elif not flag1 and flag2 %}
                    <p>شما قبلا به این شرکت کننده رای داده اید شما میتوانید اقدام به ویرایش و یا ثبت نهایی رای نمایید.
                    <p style="
color: red">(در صورت ثبت نهایی امکان تغییر رای وجود ندارد)</p>
                    <a href="/view_vote?id={{ id }}" class="btn btn-primary">مشاهده رای</a>
                    <a href="/edit_vote?id={{ id }}" class="btn btn-info">ویرایش</a>
                    <a href="/final_vote?id={{ id }}" class="btn btn-success">ثبت نهایی</a>
                    <a href="/list" class="btn btn-danger">بازگشت</a>

                {% else %}
                    <p>رای شما نهایی شده است و امکان تغییر آن وجود ندارد.</p>
                    <a href="/view_vote?id={{ id }}" class="btn btn-primary">مشاهده رای</a>
                    <a href="/list" class="btn btn-danger">بازگشت</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}